body {
  margin: 0;
  padding-left: 350px;
  height: 100vh;
  background-image: url("static/fractal-2035686_1280.jpg");
  background-size: cover;
}

nav {
  font-size: large;
  width: 300px;
  background-color: transparent;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

nav li {
  padding: 10px;
}

iframe {
  width: calc(100% - 300px);
  height: 100%;
  border: none;
}

.libre-franklin, body, nav {
  font-family: "Libre Franklin", sans-serif;
}

.kdam-thmor pro-regular , h1{
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, p, footer {
  color: #ffffff;
}
h1 {
  font-size: xx-large;
}

/* Media query for screens with a maximum width of 768px (typical tablets and smaller screens) */
@media only screen and (max-width: 768px) {
  body {
    padding-left: 0;
  }
  nav {
    left: -300px; /* Initially hide the navbar off-screen */
  }
  nav.show {
    left: 0;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkred; /* Button color */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
  border: solid;
  border-color: darkgray;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Change color on hover */
}

